In [1]:
import pandas as pd
import numpy as np

In [4]:
flappy = pd.read_csv("./Our Recorded Data/First Flappy Recording/FlappyB.csv")

In [5]:
eeg = pd.read_csv("./Our Recorded Data/First Flappy Recording/recording_flappy_bird_ExG.csv")

In [9]:
eeg.TimeStamp[0]

1648541.1857

In [10]:
flappy

         Timestamp     Event
0    1685820924659     Start
1    1685820924659  Spacebar
2    1685820925222  Spacebar
3    1685820925784  Spacebar
4    1685820926435  Spacebar
..             ...       ...
815  1685821206397  Spacebar
816  1685821206860  Spacebar
817  1685821207016  Spacebar
818  1685821207115      Over
819  1685821207145  Spacebar

[820 rows x 2 columns]

In [11]:
16485411857
1685821207145

-1669335795288

In [25]:
eeg

,TimeStamp,c3,cp3,po3,p4,c4,f4,cp4,f5
0,1.648541e+06,301.55,8107.14,-23941.33,-19278.81,-4037.81,363.64,-21639.30,26081.04
1,1.648541e+06,298.88,8092.93,-23954.97,-19291.02,-4048.63,349.95,-21651.18,26066.97
2,1.648541e+06,309.04,8087.68,-23962.69,-19298.17,-4051.16,348.00,-21651.65,26066.16
3,1.648541e+06,304.27,8081.87,-23960.55,-19300.32,-4058.93,342.04,-21649.17,26058.87
4,1.648541e+06,267.51,8062.70,-23974.76,-19319.58,-4083.30,318.43,-21674.21,26035.22
...,...,...,...,...,...,...,...,...,...
73963,1.648837e+06,67661.48,76136.93,43450.27,46266.99,63730.34,66687.07,44385.63,94898.90
73964,1.648837e+06,67855.03,76325.52,43632.18,46443.56,63915.69,66876.56,44576.65,95096.17
73965,1.648837e+06,67919.07,76405.82,43711.10,46526.01,63995.42,66955.48,44656.66,95173.51
73966,1.648837e+06,67958.60,76452.93,43770.70,46579.75,64037.04,67000.21,44698.53,95199.79
73967,1.648837e+06,67941.67,76418.79,43742.71,46564.01,63999.37,66947.75,44668.58,95163.74

In [28]:
eeg = eeg.rename(columns={"TimeStamp": "Timestamp"})

In [34]:
flappy.join(eeg, on='Timestamp', how='left', lsuffix='f', rsuffix='e')

       Timestampf     Event  Timestampe  c3  cp3  po3  p4  c4  f4  cp4  f5
0    1.685821e+06     Start         NaN NaN  NaN  NaN NaN NaN NaN  NaN NaN
1    1.685821e+06  Spacebar         NaN NaN  NaN  NaN NaN NaN NaN  NaN NaN
2    1.685821e+06  Spacebar         NaN NaN  NaN  NaN NaN NaN NaN  NaN NaN
3    1.685821e+06  Spacebar         NaN NaN  NaN  NaN NaN NaN NaN  NaN NaN
4    1.685821e+06  Spacebar         NaN NaN  NaN  NaN NaN NaN NaN  NaN NaN
..            ...       ...         ...  ..  ...  ...  ..  ..  ..  ...  ..
815  1.685821e+06  Spacebar         NaN NaN  NaN  NaN NaN NaN NaN  NaN NaN
816  1.685821e+06  Spacebar         NaN NaN  NaN  NaN NaN NaN NaN  NaN NaN
817  1.685821e+06  Spacebar         NaN NaN  NaN  NaN NaN NaN NaN  NaN NaN
818  1.685821e+06      Over         NaN NaN  NaN  NaN NaN NaN NaN  NaN NaN
819  1.685821e+06  Spacebar         NaN NaN  NaN  NaN NaN NaN NaN  NaN NaN

[820 rows x 11 columns]

In [35]:
eeg.Timestamp.max()

1648836.9547